// colors
$colors:(
    black: #181719,
    white: #ffffff,
    light-gray:  #A9A9A9,
    neutral-gray: #828282
);

// fonts 
$font-montserrat: 'Montserrat', sans-serif;
$font-crimson-pro: 'Crimson Pro', serif;
$font-lora: 'Lora', serif;

// responsive
$mobile: 998px;
