header {
  width: 100%;
  height: 80px;
  padding-top: 2rem;
  @include mobile {
    padding: 0;
  }
  .nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: red;

    .nav__brand {
      color: color(white);
      font-family: $font-crimson-pro;
      font-size: 1.2rem;
      border: 2px solid color(white);
      text-decoration: none;
      padding: 0.5rem;
      @include mobile{
        font-size: 0.8rem;
      }
    }
    .nav__links {
        display: flex;
        gap: 5rem;
        height: 100%;
        align-items: center;
        .nav__item {
          list-style-type: none;
          @include mobile{
            display: none;
          }
            a {
                text-decoration: none;
                color: color(white);
                font-family: $font-montserrat;
            }
        }
        .nav__menu {
            display: none;
            background-color: transparent;
            filter: grayscale(1) invert(1);
            border: none;
            @include mobile{
              display: block;
            }
            img {
              width: 40px;
            }
        }
      }
    }
}
.active{
  border-bottom: 2px solid color(white);
  padding-bottom: 0.3rem;
}

// humburger menu
.navbar {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: color(black);
  z-index: 1;
  transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    a {
      text-decoration: none;
      color: color(white);
      font-family: $font-montserrat;
      font-size: 1.2rem;
  
    }
    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: transparent;
      filter: grayscale(1) invert(1);
      border: none;
      img {
        width: 40px;
      }
    }
  }
  .toggle-menu{
   height: 100%;
  }

